*{
  margin: 0px;
  padding: 0px;
}
body{
box-sizing: border-box;
}

.navbar{
  background-color: cadetblue;
  border: 1px;
}

.nav{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
  }
  .nav li{
  
    list-style-type: none;
  }
  .nav li:hover{
   transform: scaleY(1);
  }
  .head{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .addbtn{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: darkolivegreen;
  }
  table,th,td{
    border: 1px solid;
    text-align: center;
    
    height: 50px;
    width: 1000px;
  }
  .main{
   margin: 30px 0px 0px 0px;
   justify-content: center;
  }
  
  .input-container{
    display: flex;
    flex-direction: column;
    
  }
  .input-container input{
    width: 200px;
    
  }
  .container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  .btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }